* {
    box-sizing: border-box;
}
body {
    background-image: url("./fabian-mardi-kVKz9qnJC-k-unsplash.jpg");
    margin: 0;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: -2rem;
    margin-top: 10rem;
    flex-wrap: wrap;
}
.countdown-container {
    display: flex;
    text-align: center;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
}

.big-text {
    font-family: sans-serif;
    font-size: 6rem;
    margin: 0 2.4rem;
}
span {
    font-size: 2rem;
}
